@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-light-base dark:bg-dark-base text-light-text dark:text-dark-text antialiased transition-colors duration-300;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .liquid-glass {
    @apply bg-light-glass dark:bg-dark-glass border border-light-border dark:border-dark-border backdrop-blur-xl shadow-glass-light dark:shadow-glass-dark;
  }
}